$brand-font: 'Faster One', cursive;
$header-font: 'Alegreya Sans SC', sans-serif;
$primary-font: 'Roboto', sans-serif;
$header-font-size: 4rem;
$sub-header-size: 2rem;
$text-white: #fff;
$text-light: #444;
$text-dark: #222;
$primary-color: #BC2F2F;
$dark-bg: #333;
$light-bg: #fff;

@mixin transition($transition) {
	-moz-transition:    $transition ease;
    -o-transition:      $transition ease;
    -webkit-transition: $transition ease;
    -ms-transition: 	$transition ease;
    transition:         $transition ease;
}

@mixin border-radius($radius) {
  	-webkit-border-radius: 	$radius;
    -moz-border-radius: 	$radius;
    -ms-border-radius: 		$radius;
    border-radius: 			$radius;
}

@-webkit-keyframes arrow {
  0%,100% {
    top:10px;
  }
  50% {
    top:30px;
  }
}
@keyframes arrow {
  0%,100% {
    top:10px;
  }
  50% {
    top:30px;
  }
}

// Global style
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	// font: inherit;
	vertical-align: baseline;
}
body {
  	font-family: $primary-font;
  	color: $text-white;
  	@media screen and (max-width: 768px) {
    	font-size: 14px;
  	}
}
ol, ul {
  list-style: none;
}
a {
  color: $text-white;
  text-decoration: none;
  &:hover, &:focus {
    color: $text-white;
    text-decoration: none;
    outline: none;
  }
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  // background-color: rgba($dark-bg, 0.3);
  h1 {
    margin: 0;
    padding: 0;
    font-family: $header-font;
    font-weight: bold;
    font-size: $header-font-size;
    color: $text-white;
    @media screen and (max-width: 1024px) {
      font-size: $header-font-size;
    }
  }
}
h2 {
  font-family: $header-font;
  font-size: $sub-header-size;
  font-weight: bold;
  @media screen and (max-width: 768px) {
    font-size: $header-font-size - 1.5rem;
  }
}
h3 {
  // color: $text-dark;
  font-size: 1.5rem;
  font-weight: 600;
  @media screen and (max-width: 768px) {
    font-size: $header-font-size - 2.5;
  }
}
.col-sm-2 {
  width: 17.666667%;
}

.to-animate,
.to-animate-2,
.to-animate-3,
.single-animate {
	opacity: 0;
}

:after, :before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
::-webkit-selection {
  color: $text-white;
  background: $primary-color;
}
::-moz-selection {
  color: $text-white;
  background: $primary-color;
}
::selection {
  color: $text-white;
  background: $primary-color;
}

.team-carousel {
	max-width: 300px;
  margin: auto;
  // margin-bottom: 40px;
	.item img {
    @include border-radius(50%);
    border: 2px solid #AEAEAE;
  }
}
.member-bio {
	.bio-label {
		font-weight: bold;
	}
}

.scroll-pagination {
	position:fixed;
	right:20px;
	top: 50%;
  transform: translateY(-50%);

	font-size:14px;
	z-index: 10;
  a {
    display:block;
    height:20px;
    margin-bottom:5px;
    color:white;
    position:relative;
    padding:4px;
    &.active:after {
      box-shadow:inset 0 0 0 5px;
    }
    .hover-text {
      position:absolute;
      right:15px;
      top:0px;
      opacity:0;
      -webkit-transition: opacity 0.5s ease;
      transition: opacity 0.5s ease;
      padding-right: 10px;
    }
    &:hover .hover-text {
      opacity: 1;
    }
    &:after {
      -webkit-transition:box-shadow 0.5s ease;
      transition:box-shadow 0.5s ease;
      width:10px;
      height:10px;
      display: block;
      border:1px solid;
      border-radius:50%;
      content:'';
      position: absolute;
      margin:auto;
      top:0;
      right:4px;
      bottom:0;
    }
  }
}

.hvr-wobble-top {
  vertical-align: baseline;
  cursor: pointer;
}

#dlv-home {
  display: table;
  position: relative;
  width: 100%;
	background: url(../img/bg-home.jpg) no-repeat center center scroll;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  .text-vertical-center {
    background-color: rgba($dark-bg, .3);
    .dlv-brand {
      font-family: $brand-font;
      font-size: $header-font-size + 2;
      color: $primary-color;
      font-weight: 400;
    }
  }	
  #btn-see-more {
    text-transform: uppercase;
    margin-top: 20px;
    padding: 0;
    position: relative;
    @include transition(.3s);
    &:after {
      border-right: 2px solid #FFF;
      border-bottom: 2px solid #FFF;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      content: '';
      width: 40px;
      height: 40px;
      position: absolute;
      margin: auto;
      top: 10px;
      right: 0;
      left: 0;
      animation: 3s infinite arrow ease;
      -webkit-animation: 3s infinite arrow ease;
    }
    &:hover {
      color: $primary-color;
    }
  }
}

.team-member {
  display: table;
  position: relative;
  width: 100%;
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
  .text-vertical-center {
    padding-left: 80px;
    padding-right: 80px;
    .member-bio {
      margin-top: 30px;
      text-align: left;
    }
    blockquote {
      margin-top: 20px;
    }
  }
}

#dlv-member-1 {
	background-color: #234577;
  background-image: url(../img/members/bg-member-1.jpg);
  
}

#dlv-member-2 {
	background-color: #32673C;
  background-image: url(../img/members/bg-member-2.jpg);
}
#dlv-member-3 {
  background-color: #7B2D2D;
  background-image: url(../img/members/bg-member-3.jpg);
}